nb_episodes: 100000
steps: 2000
env:
  action_space: 5
  grid_width: 10
  grid_length: 10
  wall_pixels: 1
  snake_pixels: 1
  pixel_size: 8
  bg_color:
    id: 0
    rgb: (0, 0, 0)
  wall_color:
    id: 1
    rgb: (255, 0, 0)
  sh_color:
    id: 2
    rgb: (247, 77, 255)
  sb_color:
    id: 3
    rgb: (255, 228, 33)
  f_color:
    id: 4
    rgb: (2, 213, 27)
buffer:
  buffer_size: 1e6
  batch_size: 1024
  unroll_steps: 5
  td_steps: 10
  reanalize: 1
  stacked_frame: 16
  support_size: 300
model:
  depth: 128
  reduced_depth: 32
  stacked_frame: 16
  block: 8
  support_size: 300
  use_downsampling: 1
  action_space: 4
  value_layers: [128,32]
  policy_layers: [128,32]
  reward_layers: [128,32]
game:
  discount: 0.99
